h1 {
  text-align: center;
}
p{
    text-align:center;
}
body{
  background-repeat:no-repeat;
  background-position: center center;
}

.container{
  margin-top: 25px;
text-align: center;
position: relative;
margin-right: 85px;
}
#lane1 {
  background-color: gray;
      height: 525px;
      width: 100px;
      display: inline-block;
      text-align: center;
      


}
#lane2 {
  background-color:gray;
      height: 525px;
      width: 100px;
      margin-left: auto;
      display: inline-block;
      position: absolute;
      text-align: center;

}
.block{
  height:45px;
  border: 1px solid yellow;
  line-height: 45px;
}
.input{

  padding-top: 5px;
}
button{
  margin-left: 75px;
}
