h1 {
  text-align: center;
}
p{
    text-align:center;
}
.container{
  margin-top: 30px;
  text-align: center;
  position:relative;
}
#lane1 {
  background-color: gray;
      height: 500px;
      width: 75px;
      display: inline-block;
      text-align: center;


}
#lane2 {
  background-color:gray;
      height: 500px;
      width: 75px;
      margin-left: auto;
      display: inline-block;
      position: absolute;
      text-align: center;

}
.block{
  height:45px;
  border: 1px solid yellow;
  line-height: 45px;
}
